#footer {
  padding: 28px 40px;
}

.footer-services {
  display: flex;
  padding-bottom: 30px;
}

.footer-service {
  width: 230px;
}

.footer-service-title-container, .footer-service-item{
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 22px;
  line-height: 1.6;
  padding-right: 35px;
}

.footer-service-title-container{
  font-size: 19px;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-service-title {
  flex-grow: 1;
}

.footer-service-item {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(122, 118, 118);
}

.footer-service-item:hover {
  color: rgb(29, 28, 28);
}

.footer-chevron {
  transition: 0.3s;
}

.footer-social-media {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: -8px;
}

.footer-social-media-item, .footer-social-media-item-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}

.footer-social-media-item {
  width: 48px;
  height: 48px;
}

.footer-social-media-item-bg {
  background-color: rgba(104, 99, 99, 0.2);
  width: 32px;
  height: 32px;
  transition: 100ms;
}

.footer-social-media-item-bg:hover {
  width: 48px;
  height: 48px;
}

.footer-terms {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-terms-item {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  color: rgb(29, 28, 28);
}

.footer-terms-divider {
  border-right: 1px solid rgb(117, 114, 114);
  margin: 0 24px;
  height: 18px;
  width: 2px;
}

.footer-copyright {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 1023px) {
  #footer {
    padding: 28px 20px;
  }
  
  .footer-services {
    flex-direction: column;
  }

  .footer-service {
    width: 100%;
  }

  .footer-service-title-container{
    font-size: 17px;
    background-color: white;
    cursor: pointer;
  }
  
  .footer-service-item-container {
    position: relative;
    overflow: hidden;
    transition:  0.3s;
  }

  .footer-service-item-container-absolute {
    position: absolute;
  }


  .footer-service-item {
    font-size: 14px;
  }

  .footer-terms {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-terms-divider {
    visibility: hidden;
  }

  .footer-terms-item {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .footer-copyright {
    font-size: 13px;
  }
  
}