body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-white {
  color: white;
}

.text-old-green{
  color: #1e3932;
}

.text-grey {
  color: rgba(0,0,0,.58);
}

.divider {
  border-top: 2px solid rgba(104, 99, 99, 0.2);
  height: 2px;
  width: 100%;
}

.divider-vertical {
  border-right: 2px solid rgba(104, 99, 99, 0.2);
  height: 100%;
  width: 2px;
}

